* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #E5E7EB;
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive;
}

h1 {
  font-size: 3.5rem;
}

h3 {
  color: #5E5D5D;
}

h2.section-title {
  font-size: 2.75625rem;
  margin-bottom: 0.5rem;
}


/***** Badges *****/
section.badges {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

h2.badges-section-title {
  margin: 0 0 0 6rem;
}

div.badges-table {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

div.badges-shape-square, div.badges-shape-pill {
  display: flex;
  gap: 2.1875rem;
}

div.badges-shape-pill {
  margin-left: 1.5rem;
}

div.badges-container {
  display: flex;
  gap: 1rem;
}

div.badge {
  padding: 0.125rem 0.75rem;
  background-color: white;
  display: inline-block;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

div.gray {
  background-color: #F3F4F6;
  color: #1F2937
}
div.red {
  background-color: #FEE2E2;
  color: #991B1B;
}
div.yellow {
  background-color: #FEF3C7;
  color: #92400E;
}
div.green {
  background-color: #D1FAE5;
  color: #065F46;
}
div.blue {
  background-color: #DBEAFE;
  color: #1E40AF;
}
div.indigo {
  background-color: #E0E7FF;
  color: #3730A3;
}
div.purple {
  background-color: #EDE9FE;
  color: #5B21B6;
}
div.pink {
  background-color: #FCE7F3;
  color: #9D174D;
}

div.badge-pill {
  border-radius: 0.75rem;
}
/***** Badges *****/


/***** Banners *****/
section.banners {
  margin-top: 3rem;
}

div.banner {
  max-width: 56rem;
  margin: 0.5rem 0 1.5rem 0;
  display: flex;
  gap: 0.75rem;
  border-radius: 0.375rem;
  padding: 1rem;
}

div.banner-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.banner-content > span.title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

div.banner-content > span.text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

img.banner-icon {
  width: 1.25rem;
  height: 1.25rem;
}

div.success {
  background-color: #ECFDF5;
}
div.success > div.banner-content > span.title {
  color: #065F46;
  
}
div.success > div.banner-content > span.text {
  color: #047857;
}

div.warning {
  background-color: #FFFBEB;
}
div.warning > div.banner-content > span.title {
  color: #92400E;
  
}
div.warning > div.banner-content > span.text {
  color: #B45309;
}

div.error {
  background-color: #FEF2F2;
}
div.error > div.banner-content > span.title {
  color: #92400E;
  
}
div.error > div.banner-content > span.text {
  color: #B45309;
}

div.neutral {
  background-color: #EFF6FF;
}
div.neutral > div.banner-content > span.title {
  color: #1E40AF;
  
}
div.neutral > div.banner-content > span.text {
  color: #1C51B9;
}
/***** Banners *****/


/***** Card *****/
section.card {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

div.card {
  margin-top: 3rem;
  background-color: #F9FAFB;
  width: 24rem;
  height: 13rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

div.card:hover {
  box-shadow: 0px 4px 25px 0px #0000001A;
}

div.card-icon-container {
  margin: 0;
  padding: 0;
  line-height: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-3.4rem);
  box-shadow: 0px 10px 15px -3px #0000001A; 
}

svg.card-icon {
  width: 1.5rem;
  height: 1.5rem;
}

div.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card-content > span.title {
  color: #111827;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  transform: translateY(-1.4rem);
}

div.card-content > span.text {
  color: #6B7280;
  line-height: 1.5rem;
  text-align: center;
  transform: translateY(-1.4rem);
}
/***** Card *****/


/***** Testimonial *****/
section.testimonial {
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.testimonial > h3 {
    margin-bottom: 1rem;
  }

div.testimonial {
  width: 23.5rem;
  background-color: #2545B8; 
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 15%, #2545B8 15%, #2545B8 100%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

div.testimonial > img {
  width: 21.5rem;
  height: 12.875rem;
  object-fit: contain;
  background-color: #F0EDEB;
  border-radius: 12px;
}

div.testimonial-contents {
  display: flex;
  flex-direction: column;
}

div.testimonial-contents > svg {
  margin-top: 3rem;
  font-size: 3rem;
  color: #FFFFFF40;
}

div.testimonial-contents > span {
  font-weight: 500;
  line-height: 1.5rem;
  color: #ffffff;
}

div.testimonial-contents > span.text {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

div.testimonial-contents > span.name {
  margin-top: 1.5rem;
  font-weight: 700;
}

div.testimonial-contents > span.position {
  margin-bottom: 3rem;
}

/***** Testimonial media query *****/
@media (min-width: 700px) {
  section.testimonial {
    margin-bottom: 6rem;
  }

  section.testimonial > h3 {
    margin-bottom: 3rem;
  }

  div.testimonial {
    margin: 0;
    padding: 0;
    flex-direction: row;
    width: 84.875rem;
    height: 25rem;
    background-image: none;
    margin: 0 3rem;
  }

  div.testimonial > img {
    height: 29rem;
    width: 24rem;
    object-fit: cover;
    margin-left: 4rem;
    transform: translateY(-1.8rem);
  }

  div.testimonial-contents {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
  }
}
/***** Testimonial media query *****/
/***** Testimonial *****/
